html{
font-family: 'Inter', sans-serif;  
}
.size{
    height: 100vh;
    width: 100vw;
}
.backgroundRing{
    background-image: url(../img/ondas.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y:75vh;
}
.marginTop{
    margin-top: 6vh;
}
.centrarInput{
    text-align: unset;
}
.titulo{
    font-size:5vh
}
.titulo span{
    margin-top: 10%;
    font-size:5vh
}
.imagen{
    height:30vh;
    width: auto;
}
.textoStyle{

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 4vh;
line-height: 42px;
text-align: center;
color: #717171;
opacity: 0.7;
}
.calculadoraBkg{
    padding: 20px;
    width: 45vw;
    height: 90px;
    background: rgba(255, 243, 255, 0.459);
    box-shadow: 0px 9px 24px rgba(142, 142, 142, 0.25);
    border-radius: 45px;
}
#calcular{
    padding: 10px 3vw 10px 3vw;
    font-weight: 700;
    text-transform: uppercase; ;
    border: none;
    background: #E61B80;
    box-shadow: 1px 8px 10px rgba(112, 112, 112, 0.25);
    border-radius: 63px;
}
.monedas{
    color: #717171;
    background: rgba(255, 243, 255, 0.459);
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 46px;
}
.monedasOpciones{
    align-self: center;
    color: #717171;
    background: rgba(255, 243, 255, 0.459);
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 46px;
}

select:focus{ outline: none;}
#sumar{
    padding: auto;
    border:#E61B80 solid 3px;
    background: #ffff;
    color: #E61B80;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    width: auto;
    font-weight: 700;

}
#restar{
    padding: auto;
    border:#E61B80 solid 3px;
    background: #ffff;
    color: #E61B80;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
}
#input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: black;
    width: 7vw;
    height: 7vh;

    text-align: center;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 9px 24px rgba(142, 142, 142, 0.25);
    border-radius: 10px;
}
.responsive{
    display: flex;
    flex-direction: row;
}
/* ancho del card que aparece al aporetar el calcular */
.ancho{ 
    width:20%;

}
.resultado{
    width: 65vw;
}
.botonCompartir{
        height:30px; 
        width:50px; 
        padding:1%; 
        background:#E61B80; 
        border-radius:10px; 
        border:none;
}
.comprarOnline{
  
    width:fit-content; 
    text-align:center; 
    background-color:#E6D21B; 
    padding: 0 5% 0 5%; 
    border-radius:20px;
    font-size: 20px;
    
 }
 .valor{
   font-family: 'Inter';
   font-style: normal;
    font-weight: 800;
    font-size: 20px;
 }
 .backgroundPrecio{
    width: fit-content;
    margin-left:10%; 
    text-align:center; 
    background:#E61B80; 
    padding:0 10% 0 10%;
    border-radius:20px;
    color:white;
    font-size: 22px;

  }
  .table{
      margin: 0 auto 30px auto;
      width: 65vw;
  }
  .componentes{
      height: 40px;
      width: auto;
  }