html{
font-family: 'Inter', sans-serif;  
}
.size{
    height: 100vh;
    width: 100vw;
}
.backgroundRing{
    background-image: url(../img/ondas.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y:75vh;
}
.marginTop{
    margin-top: 6vh;
}
.centrarInput{
    text-align: unset;
}
.titulo{
    font-size:5vh
}
.titulo span{
    margin-top: 10%;
    font-size:5vh
}
.imagen{
    height:30vh;
    width: auto;
}
.textoStyle{

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 4vh;
line-height: 42px;
text-align: center;
color: #717171;

}
.calculadoraBkg{
    padding: 20px;
    width: 45vw;
    height: 90px;
    background: rgb(253, 244, 253);
    box-shadow: 0px 9px 24px rgba(142, 142, 142, 0.25);
    border-radius: 45px;
}
#calcular{
    padding: 10px 3vw 10px 3vw;
    font-weight: 700;
    text-transform: uppercase; ;
    border: none;
    background: #E61B80;
    box-shadow: 1px 8px 10px rgba(112, 112, 112, 0.25);
    border-radius: 63px;
}
.monedas{
    color: #717171;
    background: rgba(255, 243, 255);
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 46px;
}
.monedasOpciones{
    align-self: center;
    color: #717171;
    background: rgba(255, 243, 255, 1);
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 46px;
}

select:focus{ outline: none;}
.boton{ 
  border: none;
  background: none;

}
.boton img{
    height: auto;
    width: 2vw;
}


#input{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: black;
    width: 7vw;
    height: 7vh;

    text-align: center;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 9px 24px rgba(142, 142, 142, 0.25);
    border-radius: 10px;
}
.responsive{
    position: relative;
    display: flex;
    flex-direction: row;
}
/* ancho del card que aparece al aporetar el calcular */
.ancho{ 
    width:50vw;
    margin-top:2vh; 
    height:8vh; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300; 
    border: 3px solid #717171;
    box-sizing: border-box;
    box-shadow: 1% 3% 2% rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.ancho2{ 
    width:60vw;
}
.resultado{
    width: 65vw;
}
.botonCompartir{
        height:30px; 
        width:50px; 
        padding:1%; 
        background:#E61B80; 
        border-radius:10px; 
        border:none;
}
.comprarOnline{
  
    width:fit-content; 
    text-align:center; 
    background-color:#E6D21B; 
    padding: 0 5% 0 5%; 
    border-radius:20px;
    font-size: 20px;
    
 }
 .valor{
   font-family: 'Inter';
   font-style: normal;
    font-weight: 800;
    font-size: 20px;
 }
 .backgroundPrecio{
    width: fit-content;
    margin-left:10%; 
    text-align:center; 
    background:#E61B80; 
    padding:0 10% 0 10%;
    border-radius:20px;
    color:white;
    font-size: 22px;

  }
  .table{
      margin: 0 auto 30px auto;
      width: 65vw;
  }
  .componentes{
      height: 40px;
      width: auto;
  }
  .textoResultado{
      margin: auto;
      font-size: 22px;
  }
 /* edicion select */
 ul { 
    height: 50px;
    width: 1vw;
    border: none;

  
}
.divisas{
    margin: auto;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 3vh;
line-height: 60px;
    color: white;
    

}

ul li { padding:0 0 0 20%; z-index: 52;  ;}
ul li:not(.init) { float:start; width:8vw; display: none; background: #c4c4c4;  }
ul li:not(.init):hover, ul li.selected:not(.init) { color:#6A6A6A; }
li.init { cursor: pointer;
color:#E61B80;}

a#submit { z-index: 100; }

/* bootsrap dropdown */
.table>:not(:first-child) {
    border-top: none;
}
.table>:not(caption)>*>* {
   
    border-bottom-width: unset;
  
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
}
.ayuda{
    position: sticky;
    top: 90%;
    left: 80%;
    bottom: 10%;
    background: linear-gradient(90deg, #128EDE 0%, #5CB7F2 99.99%);
    box-shadow: 3px 3px 4px rgba(130, 130, 130, 0.2);
    border-radius: 44px;
    width:fit-content ;
    padding: 10px;
    height: auto;
}